﻿@page
@model RazorPagesApp.Pages.Employees.CreateModel
@{
    ViewData["Title"] = "Добавить сотрудника";
    
}
<h3>@ViewData["Title"]</h3>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <input asp-for="Employee.Id" type="hidden" />
        <span asp-validation-for="Employee.Id"></span>
    </div>
    <div>
        <label><b>Имя</b></label><br />
        <input asp-for="Employee.FirstName" type="text" />
    </div>
    <div>
        <label><b>Фамилия</b></label><br />
        <input asp-for="Employee.LastName" type="text" />
    </div>
    <div>
        <label><b>Email</b></label><br />
        <input asp-for="Employee.Email" type="text" />
    </div>
    <div>
        <label><b>Роль</b></label><br />
        <input asp-for="Employee.Role.Name" type="text" />
    </div>
    <div>
        <label><b>Промокоды</b></label><br />
        <input asp-for="Employee.AppliedPromocodesCount" type="number" />
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>