﻿@page "{id:Guid}"
@model RazorPagesApp.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Редактирование сотрудника";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Employee.Id" type="hidden" />
    <div>
        <label><b>Имя</b></label>
        <div>
            <input asp-for="Employee.FirstName" type="text" />
            <span asp-validation-for="Employee.FirstName"></span>
        </div>
    </div>
    <div>
        <label><b>Фамилия</b></label>
        <div>
            <input asp-for="Employee.LastName" type="text" />
            <span asp-validation-for="Employee.LastName"></span>
        </div>
    </div>
    <div>
        <label><b>Email</b></label>
        <div>
            <input asp-for="Employee.Email" type="text" />
            <span asp-validation-for="Employee.Email"></span>
        </div>
    </div>
    <div>
        <label><b>Роль</b></label>
        <div>
            <input asp-for="Employee.Role.Name" type="text" />
            <span asp-validation-for="Employee.Role.Name"></span>
        </div>
    </div>
    <div>
        <label><b>Промокоды</b></label>
        <div>
            <input asp-for="Employee.AppliedPromocodesCount" type="number" />
            <span asp-validation-for="Employee.AppliedPromocodesCount"></span>
        </div>
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>
