﻿@page
@model RazorPagesApp.Pages.Employees.ListModel
@{
    ViewData["Title"] = "Список сотрудников";
}
<h3>@ViewData["Title"]</h3>

<p><a asp-page="Create">Добавить сотрудника</a></p>

<table class="table">
    <tr>
        <td><b>Id</b></td>
        <td><b>Имя</b></td>
        <td><b>Email</b></td>
        <td><b>Роль</b></td>
        <td><b>Промокоды</b></td>
    </tr>
    @foreach (var employee in Model.EmployeeList)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.FullName</td>
            <td>@employee.Email</td>
            <td>@employee.Role.Name</td>
            <td>@employee.AppliedPromocodesCount</td>
            <td>
                <form method="post">
                    <a asp-page="Edit" asp-route-id="@employee.Id">Изменить</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@employee.Id">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
