﻿@page
@model RazorPagesApp.Pages.PromoCodes.CreateModel
@{
    ViewData["Title"] = "Добавить промокод";
    
}
<h3>@ViewData["Title"]</h3>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <input asp-for="PromoCode.Id" type="hidden" />
        <span asp-validation-for="PromoCode.Id"></span>
    </div>
    <div>
        <label><b>Код</b></label><br />
        <input asp-for="PromoCode.Code" type="text" />
    </div>
    <div>
        <label><b>Информация</b></label><br />
        <input asp-for="PromoCode.ServiceInfo" type="text" size="100" />
    </div>
    <div>
        <label><b>От</b></label><br />
        <input asp-for="PromoCode.BeginDate" asp-format="{0:dd/MM/yyyy}" type="date" />
    </div>
    <div>
        <label><b>До</b></label><br />
        <input asp-for="PromoCode.EndDate" asp-format="{0:dd/MM/yyyy}" type="date" />
    </div>
    <div>
        <label><b>Партнер</b></label><br />
        <select asp-for="PartnerSelected" asp-items="Model.PartnerItems" style="width:300px;" ></select>
    </div>
    <div>
         <label><b>Сотрудник</b></label><br />
         <select asp-for="ManagerSelected" asp-items="Model.RoleItems" style="width:300px;" ></select>
     </div>
    <div>
        <label><b>Предпочтение</b></label><br />
        <select asp-for="PreferenceSelected" asp-items="Model.PreferenceItems" style="width:300px;" ></select>
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>