﻿@page "{id:Guid}"
@model RazorPagesApp.Pages.PromoCodes.EditModel
@{
    ViewData["Title"] = "Редактирование промокода";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="PromoCode.Id" type="hidden" />
    <div>
        <label><b>Код</b></label>
        <div>
            <input asp-for="PromoCode.Code" type="text" />
            <span asp-validation-for="PromoCode.Code"></span>
        </div>
    </div>
    <div>
        <label><b>Информация</b></label>
        <div>
            <input asp-for="PromoCode.ServiceInfo" type="text" size="100" />
            <span asp-validation-for="PromoCode.ServiceInfo"></span>
        </div>
    </div>
    <div>
        <label><b>От</b></label>
        <div>
            <input asp-for="PromoCode.BeginDate" asp-format="{0:dd/MM/yyyy}" type="text" />
            <span asp-validation-for="PromoCode.BeginDate"></span>
        </div>
    </div>
    <div>
        <label><b>До</b></label>
        <div>
            <input asp-for="PromoCode.EndDate" asp-format="{0:dd/MM/yyyy}" type="text" />
            <span asp-validation-for="PromoCode.EndDate"></span>
        </div>
    </div>
    <div>
        <label><b>Партнер</b></label><br />
        <select asp-for="PartnerSelected" asp-items="Model.PartnerItems" style="width:300px;" ></select>
    </div>
    <div>
         <label><b>Сотрудник</b></label><br />
         <select asp-for="ManagerSelected" asp-items="Model.RoleItems" style="width:300px;" ></select>
     </div>
    <div>
        <label><b>Предпочтение</b></label><br />
        <select asp-for="PreferenceSelected" asp-items="Model.PreferenceItems" style="width:300px;" ></select>
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>