﻿@page
@model RazorPagesApp.Pages.PromoCodes.ListModel
@{
    ViewData["Title"] = "Список промокодов";
}
<h3>@ViewData["Title"]</h3>

<p><a asp-page="Create">Добавить промокод</a></p>

<table class="table">
    <tr>
        <td><b>Id</b></td>
        <td><b>Код</b></td>
        <td><b>Информация</b></td>
        <td><b>От</b></td>
        <td><b>До</b></td>
        <td><b>Партнер</b></td>
        <td><b>Сотрудник</b></td>
        <td><b>Предпочтение</b></td>
    </tr>
    @foreach (var promoCode in Model.PromoCodeList)
    {
        <tr>
            <td>@promoCode.Id</td>
            <td>@promoCode.Code</td>
            <td>@promoCode.ServiceInfo</td>
            <td>@promoCode.BeginDate.ToString("d")</td>
            <td>@promoCode.EndDate.ToString("d")</td>
            <td>@promoCode.Partner</td>
            <td>@promoCode.PartnerManager</td>
            <td>@promoCode.Preference </td>
            <td>
                <form method="post">
                    <a asp-page="Edit" asp-route-id="@promoCode.Id">Изменить</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@promoCode.Id">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>