﻿@page
@model RazorPagesApp.Pages.Customers.CreateModel
@{
    ViewData["Title"] = "Добавить сотрудника";
    
}
<h3>@ViewData["Title"]</h3>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <input asp-for="Customer.Id" type="hidden" />
        <span asp-validation-for="Customer.Id"></span>
    </div>
    <div>
        <label><b>Имя</b></label><br />
        <input asp-for="Customer.FirstName" type="text" />
    </div>
    <div>
        <label><b>Фамилия</b></label><br />
        <input asp-for="Customer.LastName" type="text" />
    </div>
    <div>
        <label><b>Email</b></label><br />
        <input asp-for="Customer.Email" type="text" />
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>