﻿@page "{id:Guid}"
@model RazorPagesApp.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Редактирование пользователя";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Customer.Id" type="hidden" />
    <div>
        <label><b>Имя</b></label>
        <div>
            <input asp-for="Customer.FirstName" type="text" />
            <span asp-validation-for="Customer.FirstName"></span>
        </div>
    </div>
    <div>
        <label><b>Фамилия</b></label>
        <div>
            <input asp-for="Customer.LastName" type="text" />
            <span asp-validation-for="Customer.LastName"></span>
        </div>
    </div>
    <div>
        <label><b>Email</b></label>
        <div>
            <input asp-for="Customer.Email" type="text" />
            <span asp-validation-for="Customer.Email"></span>
        </div>
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>
