﻿@page
@model RazorPagesApp.Pages.Customers.ListModel
@{
    ViewData["Title"] = "Список пользователей";
}
<h3>@ViewData["Title"]</h3>

<p><a asp-page="Create">Добавить пользователя</a></p>

<table class="table">
    <tr>
        <td><b>Id</b></td>
        <td><b>Имя</b></td>
        <td><b>EMail</b></td>
    </tr>
    @foreach (var customer in Model.CustomerList)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.FullName</td>
            <td>@customer.Email</td>
            <td>
                <form method="post">
                    <a asp-page="Edit" asp-route-id="@customer.Id">Изменить</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
