﻿@page
@model RazorPagesApp.Pages.Preferences.CreateModel
@{
    ViewData["Title"] = "Добавить предпочтение";
    
}
<h3>@ViewData["Title"]</h3>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <input asp-for="Preference.Id" type="hidden" />
        <span asp-validation-for="Preference.Id"></span>
    </div>
    <div>
        <label><b>Название</b></label><br />
        <input asp-for="Preference.Name" type="text" />
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>