﻿@page "{id:Guid}"
@model RazorPagesApp.Pages.Preferences.EditModel
@{
    ViewData["Title"] = "Редактирование предпочтения";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Preference.Id" type="hidden" />
    <div>
        <label><b>Название</b></label>
        <div>
            <input asp-for="Preference.Name" type="text" />
            <span asp-validation-for="Preference.Name"></span>
        </div>
    </div>
    <div>
        <br />
        <input type="submit" value="Сохранить" />
        <p>@Model.Message</p>
    </div>
</form>
