﻿@page
@model RazorPagesApp.Pages.Preferences.ListModel
@{
    ViewData["Title"] = "Список предпочтений";
}
<h3>@ViewData["Title"]</h3>

<p><a asp-page="Create">Добавить предпочтение</a></p>

<table class="table">
    <tr>
        <td><b>Id</b></td>
        <td><b>Название</b></td>
    </tr>
    @foreach (var preference in Model.PreferenceList)
    {
        <tr>
            <td>@preference.Id</td>
            <td>@preference.Name</td>
            <td>
                <form method="post">
                    <a asp-page="Edit" asp-route-id="@preference.Id">Изменить</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@preference.Id">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
